.contactanos {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #4e2f2f;
  padding-top: 10px;
  background-color: white; }

.contactanos p {
  color: #4e2f2f; }

.contactanos address {
  color: #4e2f2f; }

h5 {
  color: #4e2f2f; }

.contacto {
  text-align: right;
  margin: 10px;
  padding: 10px; }

.contacto nav {
  color: #4e2f2f; }

.contacto a {
  color: #4e2f2f; }

.redes {
  text-align: center;
  color: #4e2f2f; }

.redes a {
  color: #4e2f2f; }

.redes a i {
  font-size: 15px;
  color: #4e2f2f; }

.redes a i:hover {
  transform: scale(2);
  transition: all 1s ease; }

.volver-inicio {
  color: #4e2f2f; }

.arriba a {
  color: white; }

.contactanos i:hover {
  transform: scale(2);
  transition: all 1s ease; }

.formulario-contacto legend {
  color: gray;
  text-align: center;
  border-radius: 10px solid black; }

.formulario-contacto form {
  background-color: aqua;
  width: 40%;
  margin: 15px; }

.formulario-contacto input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.formulario-contacto input[type=submit] {
  width: 100%;
  display: block;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.formulario-contacto input[type=reset] {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.formulario-contacto input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.formulario-contacto input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.formulario-contacto textarea {
  width: 100%;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.formulario-contacto {
  margin: 0%; }

.jumbotron-gorra {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gorra118.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 0px;
  margin-bottom: 0%;
  border-radius: 0%;
  height: 500px; }

.container-porque {
  color: white;
  text-align: center; }

.porque {
  margin-top: 200px; }

.text-porque {
  margin-top: 180px; }

.gitem1 {
  background-image: url(../images/gorra101.jpg);
  background-size: cover;
  background-position: center; }

.gitem2 {
  background-image: url(../images/gorra102.jpg);
  background-size: cover;
  background-position: center; }

.gitem3 {
  background-image: url(../images/gorra103.jpg);
  background-size: cover;
  background-position: center; }

.gitem4 {
  background-image: url(../images/gorra104.jpg);
  background-size: cover;
  background-position: center; }

.gitem5 {
  background-image: url(../images/gorra105.jpg);
  background-size: cover;
  background-position: center; }

.gitem6 {
  background-image: url(../images/gorra106.jpg);
  background-size: cover;
  background-position: center; }

.gitem7 {
  background-image: url(../images/gorra107.jpg);
  background-size: cover;
  background-position: center; }

.gitem8 {
  background-image: url(../images/gorra108.jpg);
  background-size: cover;
  background-position: center; }

.gitem9 {
  background-image: url(../images/gorra109.jpg);
  background-size: cover;
  background-position: center; }

.gitem10 {
  background-image: url(../images/gorra110.jpg);
  background-size: cover;
  background-position: center; }

.gitem11 {
  background-image: url(../images/gorra111.jpg);
  background-size: cover;
  background-position: center; }

.gitem12 {
  background-image: url(../images/gorra112.jpg);
  background-size: cover;
  background-position: center; }

.gitem13 {
  background-image: url(../images/gorra113.jpg);
  background-size: cover;
  background-position: center; }

.gitem14 {
  background-image: url(../images/gorra114.jpg);
  background-size: cover;
  background-position: center; }

.gitem15 {
  background-image: url(../images/gorra115.jpg);
  background-size: cover;
  background-position: center; }

.gitem16 {
  background-image: url(../images/gorra116.jpg);
  background-size: cover;
  background-position: center; }

.cap :hover {
  box-shadow: 10px 10px 10px black;
  transition: all 0.6s ease;
  filter: brightness(20%); }

.jumbotron-armazon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon2.jpg);
  background-position: center;
  background-size: cover;
  height: 400px; }

.container-armazon h1 {
  color: white; }

.container-armazon {
  text-align: center;
  color: white; }

.fotoaro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon101.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  border: 2px solid black; }

.arocompleto {
  text-align: center;
  margin-top: 170px;
  color: white; }

.infoaro {
  background-color: #4e2f2f;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

.text-completo {
  text-align: center;
  margin-top: 120px; }

.inforanurado {
  background-color: #4e2f2f;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black; }

.text-ranurado {
  text-align: center;
  margin: 80px;
  font-size: 15px;
  color: white; }

.fotoranurado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  border-bottom: 2px solid black; }

.aroranurado {
  text-align: center;
  margin: 170px; }

.trespiezas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon103.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black; }

.armazon-trespiezas {
  text-align: center;
  color: white;
  margin: 150px; }

.info-trespiezas {
  background-color: #4e2f2f;
  border-bottom: 2px solid black;
  border-right: 2px solid black; }

.text-trespiezas {
  text-align: center;
  color: white;
  margin: 80px; }

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/anteojito.webp);
  background-position: center;
  background-size: cover;
  margin-right: 0px;
  margin-bottom: 0%;
  border-radius: 0%; }

.sabias {
  text-align: center;
  margin: 100px;
  color: white; }

.container-sabias {
  margin-top: 50px; }

.nright {
  color: white;
  margin-right: 0px; }

.container-table h2 {
  color: white;
  text-align: center;
  margin: 30px;
  margin-right: 0px; }

.table {
  color: white;
  text-align: center; }

.item {
  height: 400px;
  border: 1px solid black;
  margin-top: 0%;
  margin-right: 0%; }

.item1 {
  background-image: url(../images/anteojo1.jpg);
  background-size: cover;
  background-position: center; }

.item2 {
  background-image: url(../images/anteojo2.webp);
  background-size: cover;
  background-position: center; }

.item3 {
  background-image: url(../images/anteojo3.jpg);
  background-size: cover;
  background-position: center; }

.item4 {
  background-image: url(../images/anteojo4.jpg);
  background-size: cover;
  background-position: center; }

.item5 {
  background-image: url(../images/anteojo6.jpg);
  background-size: cover;
  background-position: center; }

.item6 {
  background-image: url(../images/anteojo5.jpg);
  background-size: cover;
  background-position: center; }

.item7 {
  background-image: url(../images/anteojo7.jpg);
  background-size: cover;
  background-position: center; }

.item8 {
  background-image: url(../images/anteojo8.jpg);
  background-size: cover;
  background-position: center; }

.item9 {
  background-image: url(../images/anteojo9.jpg);
  background-size: cover;
  background-position: center; }

.item10 {
  background-image: url(../images/anteojo10.jpg);
  background-size: cover;
  background-position: center; }

.item11 {
  background-image: url(../images/anteojo11.jpg);
  background-size: cover;
  background-position: center; }

.item12 {
  background-image: url(../images/anteojo12.jpg);
  background-size: cover;
  background-position: center; }

.item13 {
  background-image: url(../images/anteojo101.jpg);
  background-size: cover;
  background-position: center; }

.item14 {
  background-image: url(../images/anteojo14.webp);
  background-size: cover;
  background-position: center; }

.item15 {
  background-image: url(../images/anteojo15.jpg);
  background-size: cover;
  background-position: center; }

.item16 {
  background-image: url(../images/anteojo16.jpg);
  background-size: cover;
  background-position: center; }

.item1 :hover {
  box-shadow: 10px 10px 10px black;
  transition: all 0.6s ease;
  filter: brightness(20%); }

.sunglasses :hover {
  box-shadow: 10px 10px 10px black;
  transition: all 0.6s ease;
  filter: brightness(20%); }

.navbar {
  background-color: #4e2f2f;
  margin-bottom: 0px; }

.navbar-brand {
  font-size: 30px;
  color: white; }

.navbar-nav li {
  color: white; }

.nav-link {
  color: white;
  font-size: 20px; }

.nav-link:hover {
  color: black; }

.navbar-brand:hover {
  color: black; }

.navbar-toggler-icon {
  color: white;
  box-shadow: 0 0 5px black; }

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    padding: 10px;
    gap: 10px;
    text-align: center;
    background-color: beige; }
  .grid-item:nth-child(1) {
    grid-row-start: 2 span; }
  .grid-item:nth-child(2) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(3) {
    grid-row-start: 2 span; }
  .grid-item:nth-child(5) {
    grid-row-start: 1 span; }
  .grid-item:nth-child(6) {
    grid-column-start: 2 span; }
  .grid-item:nth-child(8) {
    grid-row-start: span; }
  .grid-item:nth-child(10) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(11) {
    grid-column-start: 2 span; }
  .grid-item:nth-child(12) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(13) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(14) {
    grid-column-start: 1 span; }
  h1 {
    font-size: 40px; }
  .sabias h2 {
    font-size: 5px; } }

@media screen and (max-width: 420) {
  .container-armazon h2 {
    font-size: 5px; }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    padding: 10px;
    gap: 10px;
    text-align: center;
    background-color: beige; }
  .grid-item:nth-child(1) {
    grid-row-start: 1 span; }
  .grid-item:nth-child(2) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(3) {
    grid-row-start: 2 span; }
  .grid-item:nth-child(5) {
    grid-row-start: 1 span; }
  .grid-item:nth-child(6) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(8) {
    grid-row-start: 2 span; }
  .grid-item:nth-child(10) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(11) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(12) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(13) {
    grid-column-start: 1 span; }
  .grid-item:nth-child(14) {
    grid-column-start: 1 span; } }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.body {
  font-family: 'Roboto', sans-serif; }

.h2 {
  font-family: 'Roboto', sans-serif; }

.carousel-caption {
  text-align: center;
  margin: 0%;
  padding: 0%;
  text-decoration: none; }

.carousel-caption img {
  margin: 0%;
  text-decoration: none;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
