.contactanos {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #4e2f2f;
  padding-top: 10px;
  background-color: white; }
  .contactanos p {
    color: #4e2f2f; }
  .contactanos address {
    color: #4e2f2f; }
  .contactanos i:hover {
    transform: scale(2);
    transition: all 1s ease; }

h5 {
  color: #4e2f2f; }

.contacto {
  text-align: right;
  margin: 10px;
  padding: 10px; }
  .contacto nav {
    color: #4e2f2f; }
  .contacto a {
    color: #4e2f2f; }

.redes {
  text-align: center;
  color: #4e2f2f; }
  .redes a {
    color: #4e2f2f; }
  .redes i {
    font-size: 15px;
    color: #4e2f2f; }
  .redes i:hover {
    transform: scale(2);
    transition: all 1s ease; }

.formulario-contacto {
  margin: 0%; }
  .formulario-contacto legend {
    color: gray;
    text-align: center;
    border-radius: 10px solid black; }
  .formulario-contacto form {
    background-color: aqua;
    width: 40%;
    margin: 15px; }
  .formulario-contacto textarea {
    width: 100%;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .formulario-contacto input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .formulario-contacto input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .formulario-contacto input[type=reset] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  .formulario-contacto input[type=submit] {
    width: 100%;
    display: block;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  .formulario-contacto input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }

.jumbotron-gorra {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gorra118.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 0px;
  margin-bottom: 0%;
  border-radius: 0%;
  height: 500px; }

.container-porque {
  color: white;
  text-align: center; }

.porque {
  margin-top: 200px; }

.text-porque {
  margin-top: 180px; }

.franja-roja {
  background-color: #4e2f2f;
  color: white;
  text-align: center;
  height: 200px;
  padding: 50px; }
  .franja-roja h2 {
    font-size: 40px; }

.franja-blanca {
  background-color: white;
  color: #4e2f2f;
  text-align: center;
  height: 200px;
  padding: 50px; }

.gitem1 {
  background-image: url(../images/gorra101.jpg); }

.gitem2 {
  background-image: url(../images/gorra102.jpg); }

.gitem3 {
  background-image: url(../images/gorra103.jpg); }

.gitem4 {
  background-image: url(../images/gorra104.jpg);
  background-size: cover;
  background-position: center; }

.gitem5 {
  background-image: url(../images/gorra105.jpg); }

.gitem6 {
  background-image: url(../images/gorra106.jpg); }

.gitem7 {
  background-image: url(../images/gorra107.jpg);
  background-size: cover;
  background-position: center; }

.gitem8 {
  background-image: url(../images/gorra108.jpg); }

.gitem9 {
  background-image: url(../images/gorra109.jpg); }

.gitem10 {
  background-image: url(../images/gorra110.jpg); }

.gitem11 {
  background-image: url(../images/gorra111.jpg); }

.gitem12 {
  background-image: url(../images/gorra112.jpg); }

.gitem13 {
  background-image: url(../images/gorra113.jpg); }

.gitem14 {
  background-image: url(../images/gorra114.jpg); }

.gitem15 {
  background-image: url(../images/gorra115.jpg); }

.gitem16 {
  background-image: url(../images/gorra116.jpg); }

.cap :hover {
  box-shadow: 10px 10px 10px black;
  transition: all 0.6s ease;
  filter: brightness(20%); }

.jumbotron-armazon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon2.jpg);
  height: 400px; }

.container-armazon {
  text-align: center;
  color: white; }

.fotoaro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon101.jpg);
  height: 400px;
  border: 2px solid black; }

.arocompleto {
  text-align: center;
  margin-top: 170px;
  color: white; }

.infoaro {
  background-color: #4e2f2f;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

.text-completo {
  text-align: center;
  margin-top: 120px; }

.inforanurado {
  background-color: #4e2f2f;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black; }

.text-ranurado {
  text-align: center;
  margin: 80px;
  font-size: 15px;
  color: white; }

.fotoranurado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon.jpg);
  height: 400px;
  border-bottom: 2px solid black; }

.aroranurado {
  text-align: center;
  margin: 170px; }

.trespiezas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon103.jpg);
  height: 400px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black; }

.armazon-trespiezas {
  text-align: center;
  color: white;
  margin: 150px; }

.info-trespiezas {
  background-color: #4e2f2f;
  border-bottom: 2px solid black;
  border-right: 2px solid black; }

.text-trespiezas {
  text-align: center;
  color: white;
  margin: 80px; }

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/anteojito.webp);
  margin-right: 0px;
  margin-bottom: 0%;
  border-radius: 0%; }

.sabias {
  text-align: center;
  margin: 100px;
  color: white; }

.container-sabias {
  margin-top: 50px; }

.nright {
  color: white;
  margin-right: 0px; }

.container-table h2 {
  color: white;
  text-align: center;
  margin: 30px;
  margin-right: 0px; }

.table {
  color: white;
  text-align: center; }

.gafas-sol {
  color: white; }

.item {
  height: 400px;
  border: 1px solid black;
  margin-top: 0%;
  margin-right: 0%; }

.item1 {
  background-image: url(../images/anteojo1.jpg); }

.item2 {
  background-image: url(../images/anteojo2.webp); }

.item3 {
  background-image: url(../images/anteojo3.jpg); }

.item4 {
  background-image: url(../images/anteojo4.jpg); }

.item5 {
  background-image: url(../images/anteojo6.jpg); }

.item6 {
  background-image: url(../images/anteojo5.jpg); }

.item7 {
  background-image: url(../images/anteojo7.jpg); }

.item8 {
  background-image: url(../images/anteojo8.jpg); }

.item9 {
  background-image: url(../images/anteojo9.jpg); }

.item10 {
  background-image: url(../images/anteojo10.jpg); }

.item11 {
  background-image: url(../images/anteojo11.jpg); }

.item12 {
  background-image: url(../images/anteojo12.jpg); }

.item13 {
  background-image: url(../images/anteojo101.jpg); }

.item14 {
  background-image: url(../images/anteojo14.webp); }

.item15 {
  background-image: url(../images/anteojo15.jpg); }

.item16 {
  background-image: url(../images/anteojo16.jpg); }

.item1 :hover {
  box-shadow: 10px 10px 10px black;
  transition: all 0.6s ease;
  filter: brightness(20%); }

.sunglasses :hover {
  box-shadow: 10px 10px 10px black;
  transition: all 0.6s ease;
  filter: brightness(20%); }

.navbar {
  background-color: #4e2f2f;
  margin-bottom: 0px; }

.navbar-brand {
  font-size: 30px;
  color: white; }

.navbar-nav li {
  color: white; }

.nav-link {
  color: white;
  font-size: 20px; }

.nav-link:hover {
  color: black; }

.navbar-brand:hover {
  color: black; }

.navbar-toggler-icon {
  color: white;
  box-shadow: 0 0 5px black; }

@media screen and (max-width: 768px) {
  .franja-roja {
    background-color: #4e2f2f;
    color: white;
    text-align: center;
    height: 400px; }
    .franja-roja h2 {
      padding-top: 100px;
      font-size: 30px; }
  .franja-blanca {
    background-color: white;
    color: #4e2f2f;
    text-align: center;
    height: 400px; } }

@media screen and (max-width: 420) {
  .franja-roja {
    background-color: #4e2f2f;
    color: white;
    text-align: center;
    height: 400px; }
    .franja-roja h2 {
      font-size: 40px; }
  .franja-blanca {
    background-color: white;
    color: #4e2f2f;
    text-align: center;
    height: 400px; } }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.body {
  font-family: 'Roboto', sans-serif; }

.gitem1, .gitem2, .gitem3, .gitem4, .gitem5, .gitem6, .gitem7, .gitem8,
.gitem9, .gitem10, .gitem11, .gitem12, .gitem13, .gitem14, .gitem15, .gitem16,
.jumbotron-armazon, .fotoaro, .fotoranurado, .trespiezas, .jumbotron,
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10,
.item11, .item12, .item13, .item14, .item15, .item16 {
  background-size: cover;
  background-position: center; }

.carousel-caption {
  text-align: center;
  margin: 0%;
  padding: 0%;
  text-decoration: none; }

.carousel-caption img {
  margin: 0%;
  text-decoration: none;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
