.jumbotron-armazon{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon2.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.container-armazon h1{
    color: white;
    }

    .container-armazon{
        text-align: center;
        color: white;
    }

.fotoaro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon101.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    border: 2px solid black;
}

.arocompleto {
    text-align: center;
    margin-top: 170px;
    color: white;
}

.infoaro {
    background-color: rgb(78, 47, 47);
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.text-completo {
    text-align: center;
    margin-top: 120px;
}

.inforanurado {
    background-color: rgb(78, 47, 47);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;

}

.text-ranurado {
    text-align: center;
    margin: 80px;
    font-size: 15px;
    color: white;
}

.fotoranurado {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    border-bottom: 2px solid black;

}

.aroranurado {
    text-align: center;
    margin: 170px;
}

.trespiezas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/armazon103.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.armazon-trespiezas {
    text-align: center;
    color: white;
    margin: 150px;
}

.info-trespiezas {
    background-color: rgb(78, 47, 47);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.text-trespiezas {
    text-align: center;
    color: white;
    margin: 80px;
}