.contactanos {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: rgb(78, 47, 47);
    padding-top: 10px;
    background-color:$Blanquito;

}

.contactanos p {
    color: $Bordocito;

}

.contactanos address {
    color:$Bordocito;
}



h5 {
    color: $Bordocito;
}

.contacto {
    text-align: right;
    margin: 10px;
    padding: 10px;
}

.contacto nav {
    color: $Bordocito;
}

.contacto a {
    color: $Bordocito;
}

.redes {

    text-align: center;
    color: $Bordocito;
}

.redes a {
    color: $Bordocito;
}

.redes a i {
    font-size: 15px;
    color: $Bordocito;

}

.redes a i:hover {
    transform: scale(2);
    transition: all 1s ease;
}

.volver-inicio {
    color: $Bordocito;
}

.arriba a {
    color: $Blanquito;
}

.contactanos i:hover {
    transform: scale(2);
    transition: all 1s ease;

}