.contactanos {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: rgb(78, 47, 47);
    padding-top: 10px;
    background-color: $Blanquito;
    margin-top: 500px;

    p {
        color: $Bordocito;
    }

    address {
        color: $Bordocito;
    }

    & i:hover {
        transform: scale(2);
    transition: all 1s ease;
    }
}

h5 {
    color: $Bordocito;
}

.contacto {
    text-align: right;
    margin: 10px;
    padding: 10px;

    nav {
        color: $Bordocito;
    }

    a {
        color: $Bordocito;
    }
}

.redes {
    text-align: center;
    color: $Bordocito;

    a {
        color: $Bordocito;
    }

    & i {
        font-size: 15px;
        color: $Bordocito;
    }

    & i:hover {
        transform: scale(2);
        transition: all 1s ease;
    }

}



