@media screen and (max-width:768px) {
    .franja-roja{
        background-color: $Bordocito;
        color: $Blanquito;
        text-align: center;
        height: 400px;
        
              
        h2{
            padding-top: 180px;
            font-size: 60px;
        }
    }

    .franja-blanca{
        background-color: $Blanquito;
        color: $Bordocito;
        text-align: center;
        height: 400px;
        
    }


    .sabias {
        text-align: center;
        margin: 100px;
        color: white;
        font-size: 60px;
    }

    .table {
        width: 50%;
        font-size: 12px;
    }
}

@media screen and (max-width:420) {

    .franja-roja{
        background-color: $Bordocito;
        color: $Blanquito;
        text-align: center;
        height: 400px;
                     
        h2{
            font-size: 40px;
            padding-top: 380px;
        }
    }


    .franja-blanca{
        background-color: $Blanquito;
        color: $Bordocito;
        text-align: center;
        height: 400px;
        
    }
    
    .table {
        width: 50%;
        font-size: 12px;
    }

   
}