@media screen and (max-width:768px) {
    .franja-roja{
        background-color: $Bordocito;
        color: $Blanquito;
        text-align: center;
        height: 400px;
        
              
        h2{
            padding-top: 100px;
            font-size: 30px;
        }
    }

    .franja-blanca{
        background-color: $Blanquito;
        color: $Bordocito;
        text-align: center;
        height: 400px;
        
    }

}

@media screen and (max-width:420) {

    .franja-roja{
        background-color: $Bordocito;
        color: $Blanquito;
        text-align: center;
        height: 400px;
                     
        h2{
            font-size: 40px;
        }
    }


    .franja-blanca{
        background-color: $Blanquito;
        color: $Bordocito;
        text-align: center;
        height: 400px;
        
    }
    

}