.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/anteojito.webp);
    background-position: center;
    background-size: cover;
    margin-right: 0px;
    margin-bottom: 0%;
    border-radius: 0%;
}

.sabias {
    text-align: center;
    margin: 100px;
    color: white;
}

.container-sabias {
    margin-top: 50px;
}

.nright {
    color: white;
    margin-right: 0px;
}

.container-table h2 {
    color: white;
    text-align: center;
    margin: 30px;
    margin-right: 0px;
}

.table {
    color: white;
    text-align: center;
}

.gafas-sol {
    color: white;
}

.item {
    height: 400px;
    border: 1px solid black;
    margin-top: 0%;
    margin-right: 0%;
}

.item1 {
    background-image: url(../images/anteojo1.jpg);
    background-size: cover;
    background-position: center;
}

.item2 {
    background-image: url(../images/anteojo2.webp);
    background-size: cover;
    background-position: center;
}

.item3 {
    background-image: url(../images/anteojo3.jpg);
    background-size: cover;
    background-position: center;
}

.item4 {
    background-image: url(../images/anteojo4.jpg);
    background-size: cover;
    background-position: center;
}

.item5 {
    background-image: url(../images/anteojo6.jpg);
    background-size: cover;
    background-position: center;
}

.item6 {
    background-image: url(../images/anteojo5.jpg);
    background-size: cover;
    background-position: center;
}

.item7 {
    background-image: url(../images/anteojo7.jpg);
    background-size: cover;
    background-position: center;
}

.item8 {
    background-image: url(../images/anteojo8.jpg);
    background-size: cover;
    background-position: center;
}

.item9 {
    background-image: url(../images/anteojo9.jpg);
    background-size: cover;
    background-position: center;
}

.item10 {
    background-image: url(../images/anteojo10.jpg);
    background-size: cover;
    background-position: center;
}

.item11 {
    background-image: url(../images/anteojo11.jpg);
    background-size: cover;
    background-position: center;
}

.item12 {
    background-image: url(../images/anteojo12.jpg);
    background-size: cover;
    background-position: center;
}

.item13 {
    background-image: url(../images/anteojo101.jpg);
    background-size: cover;
    background-position: center;
}

.item14 {
    background-image: url(../images/anteojo14.webp);
    background-size: cover;
    background-position: center;
}

.item15 {
    background-image: url(../images/anteojo15.jpg);
    background-size: cover;
    background-position: center;
}

.item16 {
    background-image: url(../images/anteojo16.jpg);
    background-size: cover;
    background-position: center;
}


.item1 :hover {
    box-shadow: 10px 10px 10px black;
    transition: all 0.6s ease;
    filter: brightness(20%);
}

.sunglasses :hover {
    box-shadow: 10px 10px 10px black;
    transition: all 0.6s ease;
    filter: brightness(20%);
}